.markdownView {
  h1, h2, h3, h4, h5, h6 {
    margin: 8px 12px;
    color: #3a20aa;
  }
  h1 {
    font-weight: 700;
    font-size: 24px;
  }
  h2 {
    font-weight: 600;
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  ul {
    margin: 8px 12px;
    padding-left: 20px;
  }
  p {
    margin: 16px 12px;
    img {
      margin-left: auto;
      margin-right: auto;
    }
    code {
      background-color: #e4e5e5;
      padding: 2px 4px;
    }
    a {
      padding: 2px;
      color: #373d7b;
    }
    a:hover {
      border-bottom: 2px solid #373d7b;
    }
  }

  p::-moz-selection { /* Code for Firefox */
    color: white;
    background: #373d7b;
  }

  p::selection {
    color: white;
    background: #373d7b;
  }
  blockquote {
    margin: 0px 8px;
    border-left: 2px solid #373d7b;
  }
  table {
    width: 100%;
    thead {
      border-bottom: 1px solid black;
      tr {  
        th {
          padding: 8px 0px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 8px 3px;
          vertical-align: baseline;
        }
      }
    }
  }
}

.markdownView.darkMode {
  h1, h2, h3, h4, h5, h6 {
    color: #efeb5b;
  }
  p {
    color: white;
    code {
      background-color: #282a36;
      color: white;
    }
    a {
      color: #ff4081;
    }
    a:hover {
      border-bottom: 2px solid #ff4081;
    }
  }
  blockquote {
    margin: 0px 8px;
    border-left: 2px solid #efeb5b;
  }
  table {
    thead {
      border-bottom: 1px solid white;
    }
  }
}

.codeBlock {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}